<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>selection</title>
</head>
<body>
   <section class="sec_selection">
      <div class="inner-1440">
        <div class="title-box">
          <h2>Title</h2>
        </div>

        <div class="swiper-container slider-selection">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide01">
              <div class="slide-inner">
                <div class="img-box">
                  <a href="javascript:;">
                    <img src="../is/images/sec_selection01.jpg" alt="썸네일 이미지">
                  </a>
                </div>

                <div class="txt-box">
                  <h3>sub title01</h3>
                  <a href="javascript:;">button01</a>
                </div>
              </div>
            </div>

            <div class="swiper-slide slide02">
              <div class="slide-inner">
                <div class="img-box">
                  <a href="javascript:;">
                    <img src="../is/images/sec_selection02.jpg" alt="썸네일 이미지">
                  </a>
                </div>

                <div class="txt-box">
                  <h3>sub title02</h3>
                  <a href="javascript:;">button02</a>
                </div>
              </div>
            </div>

            <div class="swiper-slide slide03">
              <div class="slide-inner">
                <div class="img-box">
                  <a href="javascript:;">
                    <img src="../is/images/sec_selection03.jpg" alt="썸네일 이미지">
                  </a>
                </div>

                <div class="txt-box">
                  <h3>sub title03</h3>
                  <a href="javascript:;">button03</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //sec_selection -->
    
   <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="common.js"></script>
</body>
</html>
